:root {
    --normalText: aliceblue;
}

body {
    background-color: rgb(0, 0, 0);
}

.superTitle {
    font-size:7.8rem;
    color: aliceblue;
    padding: 0%;
    line-height: 95px;
    font-weight: 700;
}

.jobTitleMain {
    padding-top: 10rem;
    color: aliceblue;
}

.jobTitleSecondary {
    color: aliceblue;
}

.normalText {
    color: var(--normalText);
}

.normalTitle {
    color: aliceblue;
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
        'titulo exp2'
        'exp1 exp2';
    justify-content: center;
    
}

.expCont {
    height: 100px;
    grid-area: titulo;
}
.headwayCont {
    grid-area: exp2;
    padding-top: 48px;
    
}
.udeaCont {
    grid-area: exp1;
}

.grid-miniContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'number info' ;
}

.gridMiniCont-item-1 {
    grid-area: number;
}

.gridMiniCont-item-2 {
    grid-area: info ;
}

.grid-miniContainer-2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        'number info';
}

.gridMiniCont-item-3 {
    grid-area: number;
}

.gridMiniCont-item-4 {
    grid-area: info ;
}

.finalContainer {
    display: grid;
    grid-template-areas:
        'elem1 elem2';
    grid-gap: 80px;
    align-items: center;
    justify-content: center ;
}

.finalCont-item-1 {
    grid-area: elem1;  
}
.finalCont-item-2 {
    grid-area: elem2;
    align-items:flex-start;
}